<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/admin/static/lib/tachyons.min.css.gz">
<link rel="stylesheet" href="/admin/static/styles.css">
<script type="module" src="/admin/static/go-back.js"></script>
<title>create note</title>
<body class="centered-body" style="height: calc(100vh - 1rem);">
<nav class="mv2 bg-dark-cyan white flex justify-between items-center">
    <a href="https://notebrew.com/" class="ma2">notebrew🖋️☕</a>
    <span class="flex-grow-1"></span>
    <a href="" class="ma2">{{ if username }}@{{ username }}{{ else }}user{{ end }}</a>
    <a href="/admin/logout/" class="ma2">logout</a>
</nav>
<div>
    <a href="{{ if referer }}{{ referer }}{{ else }}/admin/{{ end }}" class="linktext" data-go-back>&larr; back</a>
    <span>&boxv;</span>
    <a href="/{{ join `admin` sitePrefix `notes` }}/" class="linktext">notes</a>
    <span>&boxv;</span>
    <a href="/{{ join `admin` sitePrefix }}/" class="linktext">admin</a>
</div>
<h1 class="f3 mv2">Create note</h1>
<form method="post" action="">
    <div class="mv2">
        <div><label for="slug">note slug (optional):</label></div>
        <input id="slug" name="slug" value="" class="pv1 ph2 br2 ba w-50 w-40-m">
        <details class="f6">
            <summary>
                What is a note slug?
            </summary>
            <div>
                <p>A note slug is the ending part of a URL that describes the note in a few words. Some examples:</p>
                <pre class="ma0">https://example.com/notes/this-is-the-note-slug/
https://example.com/notes/my-day-trip-to-hokkaido/</pre>
                <p>A note slug is used to inject keywords into the URL so that it may make recalling the note easier in the web browser history.</p>
                <p>If a note slug is not explicitly provided, the title of the note (the first line) is used as the slug.</p>
            </div>
        </details>
    </div>
    <div class="mv2">
        {{- $categoryErrors := index $.Errors "category" }}
        <div><label for="category">Category</label></div>
        <select id="category" name="category" class="pv1 br2 ba w-50 w-40-m{{ if $categoryErrors }} b--invalid-red{{ end }}" itemprop="$.username">
            <option value="">&lt;default&gt;</option>
            {{- range $category := categories }}
            <option value="{{ $category }}"{{ if eq $category $.Category }} selected{{ end }}>{{ $category }}</option>
            {{- end }}
        </select>
        {{- if $categoryErrors }}
        <ul>
            {{- range $i, $error := $categoryErrors }}
            <li class="f6 invalid-red" itemprop="$.errors.category[{{ $i }}]">{{ $error }}</li>
            {{- end }}
        </ul>
        {{- end }}
    </div>
    <div class="mv2">
        <div><label for="content">Content</label></div>
        <textarea id="content" name="content" dir="auto" class="w-100 pa2 min-h5 h6 resize-vertical">{{ $.Content }}</textarea>
    </div>
    <button type="submit" class="button pa2 ba br2 mv2">Create note</button>
</form>
