<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/admin/static/lib/tachyons.min.css.gz">
<link rel="stylesheet" href="/admin/static/styles.css">
<title>create note</title>
<body class="centered-body" style="height: calc(100vh - 1rem);">
<nav class="mv2 bg-dark-cyan white flex justify-between items-center">
    <a href="https://notebrew.com/" class="ma2">notebrew🖋️☕</a>
    <span class="flex-grow-1"></span>
    <a href="{{ siteURL }}" class="ma2">site</a>
    <a href="" class="ma2">{{ if username }}@{{ username }}{{ else }}user{{ end }}</a>
    <a href="/admin/logout/" class="ma2">logout</a>
</nav>
<div>
    <a href="{{ if referrer }}{{ referrer }}{{ else }}/admin/{{ end }}" onclick="history.back(); return false;" class="linktext">&larr; Go back</a>
    <span class="mh1">|</span>
    <a href="/admin/notes/" class="linktext">notes</a>
</div>
<h1 class="f3 mv2">Create note</h1>
<form method="post">
    <div class="mv2">
        {{- $categoryErrors := index $.Errors "category" }}
        <div><label for="category">Category</label></div>
        <select id="category" name="category" class="pv1 br2 ba w-50 w-40-m w-33-l{{ if $categoryErrors }} b--invalid-red{{ end }}" itemprop="$.username">
            <option value="">&lt;default&gt;</option>
            {{- range $category := categories }}
            <option value="{{ $category }}"{{ if eq $category $.Category }} selected{{ end }}>{{ $category }}</option>
            {{- end }}
        </select>
        {{- if $categoryErrors }}
        <ul>
            {{- range $i, $error := $categoryErrors }}
            <li class="f6 invalid-red" itemprop="$.errors.category[{{ $i }}]">{{ $error }}</li>
            {{- end }}
        </ul>
        {{- end }}
    </div>
    <div class="mv2">
        <div><label for="content">Content</label></div>
        <textarea id="content" name="content" dir="auto" class="w-100 pa3 min-h5 h6 resize-vertical">{{ $.Content }}</textarea>
    </div>
    <button type="submit" class="button pa2 ba br2">Create note</button>
</form>
