<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/admin/static/lib/tachyons.min.css.gz">
<link rel="stylesheet" href="/admin/static/styles.css">
<title>Create Note</title>
<body class="centered-body" style="height: calc(100vh - 1rem);">
<nav class="mv2 bg-dark-cyan white flex justify-between items-center">
    <a href="https://notebrew.com/" class="ma2">notebrew🖋️☕</a>
    <span class="flex-grow-1"></span>
    <a href="{{ siteURL }}" class="ma2">site</a>
    <a href="" class="ma2">{{ username }}</a>
    <a href="/admin/logout/" class="ma2">logout</a>
</nav>
<div><a href="/admin/notes/" class="linktext">&larr; Notes</a></div>
<form method="post">
    <div class="mv2">
        {{- $categoryErrors := index $.Errors "category" }}
        <label for="category" class="db">Category</label>
        <select id="category" name="category" class="pv1 br2 ba w-50 w-40-m w-33-l{{ if $categoryErrors }} b--invalid-red{{ end }}" itemprop="$.username">
            <option value="">&lt;default&gt;</option>
            {{- range $category := categories }}
            <option value="{{ $category }}"{{ if eq $category $.Category }} selected{{ end }}>{{ $category }}</option>
            {{- end }}
        </select>
        {{- if $categoryErrors }}
        <ul>
            {{- range $i, $error := $categoryErrors }}
            <li class="f6 invalid-red" itemprop="$.errors.category[{{ $i }}]">{{ $error }}</li>
            {{- end }}
        </ul>
        {{- end }}
    </div>
    <div class="mv2">
        <label for="content" class="db">Content</label>
        <textarea id="content" dir="auto" class="w-100 pa3 min-h5 resize-vertical">{{ $.Content }}</textarea>
    </div>
    <button type="submit" class="button pa2 br2">Create Note</button>
</form>
