<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/admin/static/lib/tachyons.min.css.gz">
<link rel="stylesheet" href="/admin/static/styles.css">
<script type="module" src="/admin/static/go-back.js"></script>
<title>Create site</title>
<body class="centered-body">
<nav class="mv2 bg-dark-cyan white flex justify-between items-center">
    <a href="https://notebrew.com/" class="ma2">notebrew🖋️☕</a>
    <span class="flex-grow-1"></span>
    <a href="{{ siteURL }}" class="ma2">site</a>
    <a href="" class="ma2">{{ if username }}@{{ username }}{{ else }}user{{ end }}</a>
    <a href="/admin/logout/" class="ma2">logout</a>
</nav>
<form method="post" class="mv5 w-80 w-70-m w-60-l center">
    <div><a href="/admin/" onclick="history.back(); return false;" class="linktext" data-go-back>&larr; Go back</a></div>
    <h1 class="f3 mv2">Create site</h1>
    {{- if $.AlreadyExists }}
    <div class="w-100 br2 ph3 pv2 ba alert">
        Site already exists, <a href="{{ $.AlreadyExists }}" class="linktext" itemprop="$.already_exists">click here</a>
    </div>
    {{- end }}
    <div class="mv2">
        {{- $siteNameErrors := index $.Errors "site_name" }}
        <div><label for="site_name">Site name:</label></div>
        <input id="site_name" name="site_name" value="{{ $.Request.SiteName }}" class="pv1 ph2 br2 ba w-100{{ if $siteNameErrors }} b--invalid-red{{ end }}" itemprop="$.site_name" required>
        <div class="f6">only lowercase letters, numbers and hyphen allowed</div>
        {{- if $siteNameErrors }}
        <ul>
            {{- range $i, $error := $siteNameErrors }}
            <li class="f6 invalid-red" itemprop="$.errors.site_name[{{ $i }}]">{{ $error | safeHTML }}</li>
            {{- end }}
        </ul>
        {{- end }}
    </div>
    <button type="submit" class="button pa2 ba br2 mv3">Create site</button>
</form>
