<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/admin/static/lib/tachyons.min.css.gz">
<link rel="stylesheet" href="/admin/static/styles.css">
<script type="module" src="/admin/static/go-back.js"></script>
<title>delete</title>
<body class="centered-body">
<nav class="mv2 bg-dark-cyan white flex flex-wrap items-center">
    <a href="https://notebrew.com/" class="ma2">notebrew🖋️☕</a>
    <span class="flex-grow-1"></span>
    <a href="" class="ma2">{{ if username }}@{{ username }}{{ else }}user{{ end }}</a>
    <a href="/admin/logout/" class="ma2">logout</a>
</nav>
<form method="post" class="mv5 w-80 w-70-m w-60-l center">
    <div><a href="{{ if referer }}{{ referer }}{{ else }}/admin/{{ end }}" class="linktext" data-go-back>&larr; back</a></div>
    {{- if not $.SiteName }}
    <h3 class="f4 mv2">No site to delete.</h3>
    {{- else }}
    <h3 class="f4 mv2">Are you sure you wish to delete the site <a href="/admin/{{ sitePrefix }}/" class="linktext">{{ $.SiteName }}?</a></h3>
    <div>This action is permanent and cannot be undone.</div>
    <input type="hidden" name="site_name" value="{{ $.SiteName }}">
    <button type="submit" class="button ba br2 b--black pa2 mv2">Delete Site ({{ $.SiteName }})</button>
    {{- end }}
</form>
