<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/admin/static/lib/tachyons.min.css.gz">
<link rel="stylesheet" href="/admin/static/styles.css">
<script type="module" src="/admin/static/autoclose-details.js"></script>
<script type="module" src="/admin/static/disable-click-selection.js"></script>
<script type="module" src="/admin/static/go-back.js"></script>
<title>{{ if $.Path }}{{ base $.Path }}{{ else }}admin{{ end }}</title>
<body class="centered-body">
<nav class="mv2 bg-dark-cyan white flex flex-wrap items-center">
    <a href="https://notebrew.com/" class="ma2">notebrew🖋️☕</a>
    <span class="flex-grow-1"></span>
    <a href="" class="ma2">{{ if username }}@{{ username }}{{ else }}admin{{ end }}</a>
    <a href="/admin/logout/" class="ma2">logout</a>
</nav>
<div>
    <a href="{{ if referer }}{{ referer }}{{ else }}/admin/{{ end }}" class="linktext" data-go-back>&larr; Go back</a>
    <span class="mh1">|</span>
    <a href="/admin/" class="linktext">admin</a>
</div>
<div class="mv2">{{ generateBreadcrumbLinks $.Path $.IsDir }}</div>
<form method="post" class="mv1">
    <textarea id="content" dir="auto" class="w-100 pa2 pa3-m min-h5 h6 resize-vertical">{{ $.Content }}</textarea>
    <button type="submit" class="button ba br2 pa2">Save</button>
</form>
