<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/admin/static/lib/tachyons.min.css.gz">
<link rel="stylesheet" href="/admin/static/styles.css">
<link rel="stylesheet" href="/admin/static/file.css">
<script src="/admin/static/file.js" defer></script>
<script src="/admin/static/disable-click-selection.js" defer></script>
<title>{{ base $.Path }}</title>
<body class="centered-body">
<nav class="h2 mv2 bg-dark-cyan white flex justify-between items-center">
    <a href="https://notebrew.com/" class="ma2">notebrew🖋️☕</a>
    <span class="flex-grow-1"></span>
    <a href="{{ siteURL }}" class="ma2">site</a>
    <a href="" class="ma2">{{ username }}</a>
    <form method="post" action="/admin/logout/"><button type="submit" class="link ma2 white">logout</button></form>
</nav>
{{- if $.IsDir }}
{{ template "dir" $ }}
{{- else }}
{{ template "file" $ }}
{{- end }}

{{- define "dir" }}
{{- if $.Path }}
<div class="h2 mv2 flex flex-wrap">
    <div class="flex-grow-1"></div>
    <div class="flex items-center">
        <div class="mh1 dotted-border br2 h2">
            <button class="button br2 h-100">&times;</button>
            <a href="" class="mh1 linktext">5 items cut</a>
            <button class="button br2 h-100">paste here</button>
        </div>
    </div>
    <div class="flex items-center">
        <button type="reset" form="entries" class="db mh1 button br2 h2">reset selection</button>
    </div>
    <div class="flex items-center">
        <details class="relative pointer mh1">
            <summary title="Create" class="flex items-center button br2 ph2 h2">
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-plus">
                    <path d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z"></path>
                </svg>
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-triangle-down">
                    <path d="m4.427 7.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.396 7H4.604a.25.25 0 0 0-.177.427Z"></path>
                </svg>
            </summary>
            <div class="absolute bg-white br2" style="top: calc(2rem + 4px); right: 0px; z-index: 1000; border: 1px solid black;">
                <div class="tr ma1"><button class="link linktext tr nowrap">create file</button></div>
                <div class="tr ma1"><a href="" class="linktext tr nowrap">create file</a></div>
                <div class="tr ma1"><button class="link linktext tr nowrap">create category folder</button></div>
            </div>
        </details>
    </div>
</div>
{{- else }}
<div class="h2 mv2 flex flex-wrap">
    <div class="flex-grow-1"></div>
    <div class="flex items-center">
        <details class="relative pointer mh1">
            <summary title="Create" class="flex items-center button br2 ph2 h2">
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-plus">
                    <path d="M7.75 2a.75.75 0 0 1 .75.75V7h4.25a.75.75 0 0 1 0 1.5H8.5v4.25a.75.75 0 0 1-1.5 0V8.5H2.75a.75.75 0 0 1 0-1.5H7V2.75A.75.75 0 0 1 7.75 2Z"></path>
                </svg>
                <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-triangle-down">
                    <path d="m4.427 7.427 3.396 3.396a.25.25 0 0 0 .354 0l3.396-3.396A.25.25 0 0 0 11.396 7H4.604a.25.25 0 0 0-.177.427Z"></path>
                </svg>
            </summary>
            <div class="absolute bg-white br2" style="top: calc(2rem + 4px); right: 0px; z-index: 1000; border: 1px solid black;">
                <div class="tr ma1"><a href="" class="linktext tr nowrap">create note</a></div>
                <div class="tr ma1"><a href="" class="linktext tr nowrap">create post</a></div>
            </div>
        </details>
    </div>
</div>
{{- end }}
<div class="mv2">{{ generateBreadcrumbLinks $.Path $.IsDir }}</div>
<form id="entries">
    {{- range $entry := $.Entries }}
    <div class="entry mv1">
        <label for="{{ $entry.Name }}" class="flex w-100 h-100 {{ if $.Path }}pointer{{ end }}">
            {{- if $.Path }}
            <input type="checkbox" id="{{ $entry.Name }}" name="names" value="{{ $entry.Name }}" class="ma1 pointer">
            {{- end }}
            <span class="flex flex-wrap items-center w-100 h-100">
                {{- if $entry.IsDir }}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="ma1">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.75V12A2.25 2.25 0 014.5 9.75h15A2.25 2.25 0 0121.75 12v.75m-8.69-6.44l-2.12-2.12a1.5 1.5 0 00-1.061-.44H4.5A2.25 2.25 0 002.25 6v12a2.25 2.25 0 002.25 2.25h15A2.25 2.25 0 0021.75 18V9a2.25 2.25 0 00-2.25-2.25h-5.379a1.5 1.5 0 01-1.06-.44z" />
                </svg>
                {{- end }}
                <a href="{{ $entry.Name }}{{ if $entry.IsDir }}/{{ end }}" class="linktext ma1 dib">{{ $entry.Name }}{{ if $entry.IsDir }}/{{ end }}</a>
                <span class="flex-grow-1"></span>
                {{- if not $entry.IsDir }}
                <span class="ma1">{{ fileSizeToString $entry.Size }}</span>
                {{- end }}
                {{- if $.Path }}
                <details class="relative mh1">
                    <summary title="More actions" class="flex items-center button br2 h1">
                        <svg fill="none" width="16" height="16" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg" class="ma1 items-center">
                            <path d="M5 12H5.01M12 12H12.01M19 12H19.01M6 12C6 12.5523 5.55228 13 5 13C4.44772 13 4 12.5523 4 12C4 11.4477 4.44772 11 5 11C5.55228 11 6 11.4477 6 12ZM13 12C13 12.5523 12.5523 13 12 13C11.4477 13 11 12.5523 11 12C11 11.4477 11.4477 11 12 11C12.5523 11 13 11.4477 13 12ZM20 12C20 12.5523 19.5523 13 19 13C18.4477 13 18 12.5523 18 12C18 11.4477 18.4477 11 19 11C19.5523 11 20 11.4477 20 12Z" stroke="#4A5568" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        </svg>
                    </summary>
                    <div class="absolute bg-white w3 br2" style="top: calc(1rem + 2px); right: 0px; z-index: 1000; border: 1px solid black;">
                        <div class="tr ma1"><button type="submit" name="names" value="{{ $entry.Name }}" class="link linktext tr">delete</button></div>
                        <div class="tr ma1"><button type="submit" name="names" value="{{ $entry.Name }}" class="link linktext tr">rename</button></div>
                        <div class="tr ma1"><button type="submit" name="names" value="{{ $entry.Name }}" class="link linktext tr">cut</button></div>
                        <div class="tr ma1"><button type="submit" name="names" value="{{ $entry.Name }}" class="link linktext tr">copy</button></div>
                    </div>
                </details>
                {{- end }}
            </span>
        </label>
    </div>
    {{- else }}
    <div class="mv1">folder is empty</div>
    {{- end }}
{{- end }}
</form>

{{- define "file" }}
<div class="h2 pv2"></div>
<div class="mv2">{{ generateBreadcrumbLinks $.Path $.IsDir }}</div>
<form method="post" class="mv1">
    <textarea id="content" class="w-100 pa3 min-h5 resize-vertical">{{ $.Content }}</textarea>
    <button type="submit">Save</button>
</form>
{{- end }}
