<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/admin/static/lib/tachyons.min.css.gz">
<link rel="stylesheet" href="/admin/static/styles.css">
<title>Login</title>
<body class="centered-body">
<nav class="mv2 bg-dark-cyan white flex justify-between items-center">
    <a href="https://notebrew.com/" class="ma2">notebrew🖋️☕</a>
</nav>
<form method="post" class="mv5 w-50 w-40-m w-33-l center">
    <h1 class="f3 mv2">Login</h1>
    {{- if $.AlreadyLoggedIn }}
    <div class="w-100 br2 ph3 pv2 ba alert">
        You are already logged in, <a href="/admin/" class="linktext">click here to go to your dashboard</a>.
    </div>
    <div itemprop="$.already_logged_in" hidden>true</div>
    {{- else if $.IncorrectLoginCredentials }}
    <div class="w-100 br2 ph3 pv2 ba alert-danger">
        Incorrect login credentials
    </div>
    <div itemprop="$.incorrect_login_credentials" hidden>true</div>
    {{- else if $.PasswordReset }}
    <div class="w-100 br2 ph3 pv2 ba alert-success">
        Password reset successfully. Please log in using your new credentials.
    </div>
    <div itemprop="$.password_reset" hidden>true</div>
    {{- end }}

    <div class="mv2">
        {{- $usernameErrors := index $.Errors "username" }}
        <label for="username" class="db">Username or Email</label>
        <input id="username" name="username" value="{{ $.Username }}" class="pv1 ph2 br2 ba w-100{{ if $usernameErrors }} b--invalid-red{{ end }}" itemprop="$.username" required>
        {{- if $usernameErrors }}
        <ul>
            {{- range $i, $error := $usernameErrors }}
            <li class="f6 invalid-red" itemprop="$.errors.username[{{ $i }}]">{{ $error }}</li>
            {{- end }}
        </ul>
        {{- end }}
    </div>

    <div class="mv2">
        {{- $passwordErrors := index $.Errors "password" }}
        <label for="password" class="db">Password</label>
        <input id="password" type="password" name="password" class="w-100 pv1 ph2 br2 ba w-100{{ if $passwordErrors }} b--invalid-red{{ end }}" itemprop="$.password" required{{ if $.IncorrectLoginCredentials }} autofocus{{ end }}>
        {{- if $passwordErrors }}
        <ul>
            {{- range $i, $error := $passwordErrors }}
            <li class="f6 invalid-red" itemprop="$.errors.password[{{ $i }}]">{{ $error }}</li>
            {{- end }}
        </ul>
        {{- end }}
    </div>

    {{- if $.Referer }}
    <input type="hidden" name="referer" value="{{ $.Referer }}" itemprop="$.referer">
    {{- end }}

    <button type="submit" class="button ba br2 b--black pa2">Log in</button>
</form>
