/****** Elad Shechter's RESET *******/
/* https://elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e */
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
/* button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;} */
button{cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner{border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}

body {
    background-color: #f2f2f2;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body.centered-body {
    max-width: min(80ch, calc(100% - 0.5rem));
    margin: 0.5rem auto;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.link {
    background: none;
    border: none;
    padding: 0;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.linktext {
    color: LinkText;
}

.button {
    background-color: #e2e2e2;
    border-style: solid;
    border-width: 1px;
}

.button:hover {
    background-color: #eaeaea;
}

.button:active {
    background-color: #fafafa;
}

.flex-grow-1 {
    flex-grow: 1;
}

.bg-dark-cyan {
    background-color: #007d9c;
}

.invalid-red {
    color: #dc3545;
}

.b--invalid-red {
    border-color: #dc3545;
}

.alert {
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-warning {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
}

.resize-vertical {
    resize: vertical;
}

.min-h5 {
    min-height: 16rem;
}

.dotted-border {
    border: 1px dashed #0c0c0c;
}

details > summary::marker, /* Latest Chrome, Edge, Firefox */ 
details > summary::-webkit-details-marker /* Safari */ {
  display: none;
}

@media only screen and (min-width: 768px) {
    /* for desktop */
}
