/****** Elad Shechter's RESET *******/
/* https://elad.medium.com/normalize-css-or-css-reset-9d75175c5d1e */
/*** box sizing border-box for all elements ***/
*,
*::before,
*::after{box-sizing:border-box;}
a{text-decoration:none; color:inherit; cursor:pointer;}
button{background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer;}
figure{margin:0;}
input::-moz-focus-inner{border:0; padding:0; margin:0;}
ul, ol, dd{margin:0; padding:0; list-style:none;}
h1, h2, h3, h4, h5, h6{margin:0; font-size:inherit; font-weight:inherit;}
p{margin:0;}
cite {font-style:normal;}
fieldset{border-width:0; padding:0; margin:0;}

body {
    background-color: #f2f2f2;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

a, a:visited {
    text-decoration: none;
    color: LinkText;
}

a:hover {
    text-decoration: underline;
    color: LinkText;
}

button {
    cursor: pointer;
}

.fg1 {
    flex-grow: 1;
}

.bg-gopher-blue {
    background-color: #00add8;
}

#navbar {
    height: 2.5rem;
    background-color: #00add8;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar a {
    color: white;
}
